<h2>Account Details for <%=@user.username%></h2>
<section class="btn-group">
    <a><%= button_to "CREATE NEW CATEGORY", new_category_path, method: :get, class: "btn btn-info" %></a>
    <a><%= button_to "CREATE NEW PRODUCT", new_product_path, method: :get, class: "btn btn-info" %></a>
    <a><%= button_to "VIEW RELATED ORDERS", myorders_path, method: :get, class: "btn btn-info" %></a>
</section>
<table class="table">
  <thead class="table-info">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Edit</th>
      <th scope="col">Retire/Reinstate</th>
    </tr>
  </thead>
  <tbody>
    <% @user.products.each do |product| %>
      <tr>
        <th scope="row"> <%= link_to product.name, product_path(product.id)%> </th> 
        <td><%= product.description%></td>
        <td>$<%= product.price%></td>
        <td><%= product.quantity%></td>
        <td><%= button_to "EDIT PRODUCT", edit_product_path(product.id), method: :get, class: "btn btn-info" %></td>
        <% if product.retired == false%>
          <td><%= button_to "RETIRE", retire_path(product.id), method: :patch, class: "btn btn-danger" %></td>
        <%else%>
          <td><%= button_to "REINSTATE", retire_path(product.id), method: :patch, class: "btn btn-success" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>