<h2>Orders associated with <%=@user.username%></h2>

<h3>Total Revenue: $<%= User.total_revenue(@user)%></h3>
<h3>Shipped Products Revenue: $<%= User.total_revenue(@user, shipped: "true")%></h3>
<h3>Pending Products Revenue: $<%= User.total_revenue(@user, shipped: "false")%></h3>

 <table class="table">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
         <th scope="col">Subtotal</th>
         <th scope="col">Order Placed</th>
         <th scope="col">Mark as Shipped</th>
         <th scope="col">Order Status</th>
       </tr> 
    </thead>
    <tbody>
    <% if !@user.orderitems.nil? %>
      <% @user.orderitems.each do |item| %>
        <tr>
          <td><%= link_to Order.find_by(id: item.order_id).id, cart_path %>
          <th scope="row"><%= link_to Product.find_by(id: item.product_id).name, product_path(item.product_id) %></th>
          <td><%= item.quantity%>
          <td><%= (Product.find_by(id: item.product_id).price) * (item.quantity)%> <%# could be pulled out into helper method?%>
          <td><%= item.created_at %>
          <% if item.shipped == false%>
            <td><%= link_to "Ship", ship_path(item.id), method: :patch %>
          <%else%>
            <td>Item Shipped
          <%end%>
          <td><%= Order.find_by(id: item.order_id).status %>
        </tr>
      <% end %>
    <%end%>
