<% if @user.name %>
  <h2>Products Sold by <span class="emphasize"><%=@user.name%></span></h2>
<% else %>
  <h2>Products Sold by <span class="emphasize"><%=@user.username%></span></h2>
<% end %>
<% if @products.empty? %>
  <p class="product-none">Sorry, this merchant does not have any products.</p>
<% else %>
  <div class="product-index">
    <% @products.each do |product| %>
      <% if product.retired == false %>
        <ul class="product-item">
          <li><%= link_to image_tag(product.photo_url, alt: "product image", class: "img-250-sizing"), product_path(product.id)%></li>
          <li>
            <p class="product-name"><%= link_to product.name, product_path(product.id) %></p>
          </li>
          <li>$<%= product.price%></li>
          <li>
            <p class="product-description"><%= product.description %></p>
          </li>
          <li>
            <p class="product-rating"><%= stars(product) %></p>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
