<h2>Shopping Cart</h2>
<p>Find me in app/views/orders/cart.html.erb</p>

<p>We'll want to add functionality to edit quantity</p>
<table class="table cart-table">
  <thead>
    <th scope="col"></th>
    <th scope="col">Product</th>
    <th scope="col">Quantity</th>
    <%# <th scope="col">Add more</th> %>

    <th scope="col"></th>
  </thead>
  <tbody>
    <% @current_order.orderitems.each do |orderitem| %>
      <tr>
        <td><%= image_tag(orderitem.product.photo_url, size: "100x100", alt: "product image")%></td>
        <td><%= orderitem.product.name %></td>
        <%# orderitem.quantity %>
        <td>
          <%= form_with model: @orderitems, class: "quantity_form", url: orderitems_path, method: :post do |f| %>

            <%= f.select :quantity, (1..orderitem.product.quantity), :selected => orderitem.quantity %>
            <%= hidden_field_tag "product_id", "#{orderitem.product.id}" %>

            <%= f.submit "Update Cart", class: "submit-button" %>

          <% end %>
        </td>
        
        <td><%= button_to "Remove", orderitem_path(orderitem.id), method: :delete, params: {orderitem_id: orderitem.id}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Checkout", checkout_path, method: :get, class: "btn btn-secondary" %>



<%# f.select :quantity, options_for_select([0...orderitem.product.quantity])%>
