<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Checkout</h3>

<section>
  <%= form_with model: @order, url: submit_path, method: :patch do |f| %>

  <div class="form-group">
    <%= f.label "Credit Card Name" %>
    <%= f.text_field :cc_name, class: "form-control" %>
  </div>

  <div class="form_group">
    <%= f.label "Email Address" %>
    <%= f.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Address" %>
    <%= f.text_field :address, placeholder: "ex. 1234 Snackelicious Dr. Yummy, WA 12345", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Credit Card Number" %>
    <%= f.text_field :cc_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Billing Zip Code" %>
    <%= f.text_field :zipcode, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label "CVV" %>
    <%= f.text_field :cvv, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label "Expiration Date" %>
    <%= f.text_field :cc_expiration, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Confirm Order", class: "btn btn-info" %>
  </div>
  <% end %>
</section>
