<section class="main-body">
<h2>Congratulations! You are now a proud scam participant.</h2>

<section class="order-summary">

  <h4>Order #<%= @order.id %> - Purchased: <%= @order.updated_at.to_date %></h4>
  <h4>Status: <%= @order.status.capitalize %></h4>

  <table class="table order-details">
    <thead class="table-info">
      <tr>
        <th>Product</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order.orderitems.each do |item| %>
      <tr>
        <td>
          <%= link_to item.product.name, product_path(item.product)  %>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          $<%=item.product.price %>
        </td>
        <td>
          <p>$<%= item.item_total %></p>
        </td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Taxes:</strong></td>
        <td><strong>$<%= @order.taxes %></strong></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td><strong>$<%= @order.total %></strong></td>
      </tr>
    </tbody>
  </table>
  </section>
<nav>
  <span>
    <%=button_to "Cancel this order", order_path(@order.id), method: :delete, data: { confirm: "Are you sure you want to cancel this order?" }, class: "btn btn-danger mx-1" %>
  </span>
</nav>
</section>