<section class="main-body">
<h2>Congratulations! You are now a proud scam participant.</h2>

<section class="order-summary">

  <h4>Order Summary</h4>

  <table class="table order-info">
    <thead>
      <tr>
        <th>Order Total Amount</th>
        <th>Purchase Date</th>
        <th>Current Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>Add total price here</p>
        </td>
        <td>
          <p>Add time order was placed here</p>
        </td>
        <td>
          <%= @order.status.capitalize %>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>My Products</h4>

  <table class="table order-details">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Item Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @order.orderitems.each do |item| %>
      <tr>
        <td>
          <%= link_to item.product.name, product_path(item.product)  %>
        </td>
        <td>
          <%= number_to_currency(item.product.price) %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <p>Add subtotal here</p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<nav>
  <span>
    <%=link_to "Cancel this order", order_path(@order.id), method: :delete, data: { confirm: "Are you sure you want to cancel this order?" }, class: "btn btn-danger mx-1" %>
  </span>
</nav>

</section>
