<%if false%>
<% @category.products.each do |product| %>
  <% if product.retired == false%>
    <ul>
      <li>
        <%=image_tag(product.photo_url, height: "250", alt: "product image")%>    
      </li>
      <li>
        <h3><%= link_to product.name, product_path(product.id) %></h3>
      </li>
      <li>
        <%= product.description%>
      </li>
      <li>
        $<%= product.price%>
      </li>
      <li>
        <%= product.quantity%>
      </li>
    </ul>
  <%end%>
<%end%>
<%end%>


<h2>Products in <%=@category.name%> Category</h2>
<span class="product-index">
  <% @category.products.each do |product| %>
    <% if product.retired == false %>
      <ul class="product-item">
        <li><%= link_to image_tag(product.photo_url, height: "250", alt: "product image"), product_path(product.id)%></li>
        <li>
          <p class="product-name"><%= link_to product.name, product_path(product.id) %></p>
        </li>
        <li><p class="product-description"><%= product.description %></p></li>
      </ul>
    <% end %>
  <% end %>
</span>
