<h2><%= @product.name %></h2>
<img src= <%= @product.photo_url %> alt="image of #{@product.name}">
<p>description: <%= @product.description %></p>
<p>quantity in stock: <%= @product.quantity %></p>
<p>price: <%= @product.price %></p>