<h2><%= @product.name %></h2>

<%= image_tag(@product.photo_url, height: "250", alt: "product image")%>
<p>average rating: <%= @product.average_review %>
<p>description: <%= @product.description %></p>
<p>quantity in stock: <%= @product.quantity %></p>
<p>price: $<%= @product.price %></p>

<%= button_to "Add to Cart", orderitems_path, method: :post, params: {product_id: @product.id} %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Description</th>
       </tr> 
    </thead>
    <tbody>
    <% @product.reviews.each do |review|%>
      <tr>
        <th scope="row"><%= review.rating %></th>
        <td><%= review.description%>
      </tr>
    <% end %>

<%= render "/reviews/new"%>
