<h2><%= @product.name %></h2>
<img src= <%= @product.photo_url %> alt="image of #{@product.name}">
<p>description: <%= @product.description %></p>
<p>quantity in stock: <%= @product.quantity %></p>
<p>price: <%= @product.price %></p>

<%=image_tag(@product.photo_url)%>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Description</th>
       </tr> 
    </thead>
    <tbody>
    <% @product.reviews.each do |review|%>
      <tr>
        <th scope="row"><%= review.rating %></th>
        <td><%= review.description%>
      </tr>
    <% end %>

<%= render "/reviews/new"%>
