<p><i>~this page shows information about an individual product, linked from the products list or the user or category show page~</i></p>
<h2><%= @product.name %></h2>
<p>description: <%= @product.description %></p>
<p>quantity in stock: <%= @product.quantity %></p>
<p>price: <%= @product.price %></p>

<img src=<%= @product.photo_url %> />
