<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "scAmazon", root_path, class: "navbar-brand" %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Browse by Categories</a>
          <div class="dropdown-menu">
            <% Category.all.each do |cat| %>
              <%= link_to cat.name, category_path(cat.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Browse by Merchants</a>
          <div class="dropdown-menu">
            <% User.all.each do |user| %>
              <%= link_to user.name, user_path(user.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item"><%= link_to "All Products", products_path, class: "nav-link"  %></li>
      
        <% if @current_user %>
          <li class="nav-item"><%= link_to "My Account", myaccount_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete", class: "nav-link"  %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Login with Github", github_login_path, class: "nav-link" %></li>
        <% end %>

        <%# This should eventually show whether there's a user logged in or not, once we figure out that logic %>
        <% if session[:order_id] %>
          <%= button_to "Cart", cart_path, method: :get, class: "btn btn-primary nav-link" %>
        <% else %>
          <%= button_to "Cart", empty_order_path, method: :get, class: "btn btn-primary nav-link" %>        
        <% end %>
      </nav>
       <% if flash.count > 0 %>
        <section class="flash">
          <% if flash[:failure] %>
            <div class="alert alert-danger" role="alert" >
          <% elsif flash[:error] %>
            <div class="alert alert-warning" role="alert" >
          <% elsif flash[:success] %>
            <div class="alert alert-success" role="alert" >
          <% else%>
            <div class="alert alert-primary" role="alert" >          
          <% end %>
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li><%= name %>: <%= msg %> </li>
              <% end %>
            <% else %>
              <%= message %>
            <% end %>
            </ul>
          <% end %>
          </div>
        </section>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
